header {
    font-size: 1.25em;
    font-weight: bold;
}
.a:hover {
    color: white;
}
body {background-color: violet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
img {
    width: 12%;
    display: block;
    margin: 0 auto;
}
main p1{
    width: 20%;
    font-size: .65em;
    display: block;
    margin: 0 auto;
    color: white;
}
main p2{
    width: 20%;
    font-size: .85em;
    display: block;
    margin: 0 auto;
    color: white;
}
main p {
    width: 20%;
    color: white;
    font-size: 2.25em;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
    display: block;
    text-align:center
}
ol.b {
    width: 25%;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    list-style-type: decimal;
    text-align:left
}
footer p {
    width: 22%;
    margin: 0 auto;
    display: block;
    text-align:center
}
footer {
    background-color: steelblue;
    color: white;
}
footer p {
    padding: 25px;
}
h1 {
    margin: 50px 0;
}
nav {
    background-color: steelblue;
}
a {
    color: white;
}
a {
    padding: 25px;
}
body {
    margin: 0
}
img {
    border: 4px solid steelblue;
}